---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
if (!offre) {
    return Astro.redirect("/offres");
}
---

<Base titre={offre.nom_maison}>
    <h2>{offre.nom_maison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        <li>{offre.prix}</li>
        <li>{offre.nombre_chambres}</li>
        <li>{offre.nombre_salles_de_bain}</li>
        <li>{offre.superficie}</li>
    </ul>
</Base>
